<div class="span9">
  <div style="padding:19px;" class="hero-unit">
    <div id="map"></div>
  </div>
</div><!--/span-->
<div class="span3">

  <div style="padding:14px;" class="well sidebar-nav">
    <center>
      <% if !current_user %>
        <a href="/auth/facebook"><img src="http://f.cl.ly/items/272O012s0U2G0L2Q2U0K/facebook_button.png"/></a>
      <% else %>
        <% if flash[:message] %>
          <div style="margin-bottom:0;" class="alert alert-success well"><%= flash[:message] %></div>
        <% else %>
          <h2>Join the Party</h2><br>
          <%= form_tag("/sms", :method => "post", :class => "well") do %>
            <div style="padding-right:10px;>">
            <input name="number" id="phone-number" style="width:100%;" class="input-xlarge" type="text" placeholder="your phone number"/></div>
            <button onclick="if ( $('#phone-number').val() == '' ) { $('#phone-number').css('border', 'red 1px solid'); return false; }" type="submit" style="width:100%;" class="btn">Locate by SMS</button>
          <% end %>
        <% end %>
      <% end %>
    </center>
  </div>

  <div class="well sidebar-nav">
    <ul id="people" class="nav nav-list">
      <%= render :partial => "pages/list_user" %>
    </ul>
  </div><!--/.well -->

</div><!--/span-->

<script>
var pusher = new Pusher("<%= Pusher.key %>");
var channel = pusher.subscribe('adrian_geo');
channel.bind('new_location', function(data) {
  $("#people").fadeOut(500, function() { $("#people").html(data.content).fadeIn(500); });
  $('#map').gmap3({action:'clear', name:'marker', tag:data.user.uid}); 
  $('#map').gmap3({
    action: 'addMarker',
    latLng:[data.location.latitude,data.location.longitude],
    tag:data.user.uid,
    options:{
      animation: google.maps.Animation.DROP,
      icon: new google.maps.MarkerImage(data.user.image, new google.maps.Size(20, 20), new google.maps.Point(0,0), new google.maps.Point(0, 32), new google.maps.Size(25, 25))
    },
    events:{
      mouseover: function(marker){
        $("#" + data.user.uid).css("background", "#fff6d1");
      },
      mouseout: function() {
        $("#" + data.user.uid).css("background", "");
      }
    }
  });
});

function bounce(uid) {
  marker = $('#map').gmap3({action:'get', name:'marker', tag:uid});
  marker.setAnimation(google.maps.Animation.BOUNCE);
  setTimeout(function() {
    marker.setAnimation(null);
  }, 1300);
}
</script>