<div class="span12">

  <div id="here"></div>

  <div style="padding:14px;" class="well sidebar-nav">
    <center>
    <% if @locate_user.nil? %>
      <h3>This link is somehow incorrect, please try again.</h3>
    <% else %>
      <h3>Hi <%= @locate_user.name %></h3><br>
        <div class="well">
          <button onclick="get_location(); return false;" type="submit" style="width:100%;" class="btn btn-primary btn-large">Share Location</button>
      </div>
    <% end %>
    </center>
  </div>

</div><!--/span-->

<script>
function get_location() {
  if(geo_position_js.init()){
    geo_position_js.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true,options:5000});
  }
  else{
    update_div("Functionality not available");
  }

  function success_callback(p)
  {
    update_div('lat='+p.coords.latitude.toFixed(2)+';lon='+p.coords.longitude.toFixed(2));
  }
  
  function error_callback(p)
  {
    update_div('error='+p.message);
  }
}

function update_div(message) {
  $('#here').html(message);
}
</script>