<div class="span12">

  <div id="here"></div>

  <div style="padding:14px;" class="well sidebar-nav">
    <center>
    <% if @locate_user.nil? %>
      <h3>This link is somehow incorrect, please try again.</h3>
    <% else %>
      <h3>Hi <%= @locate_user.name %></h3><br>
        <div class="well">
          <button id="share" type="submit" style="width:100%;" class="btn btn-primary btn-large">Share Location</button>
      </div>
    <% end %>
    </center>
  </div>

</div><!--/span-->

<script>
$(function() {  
  $("#share").click(initiate_geolocation);  
});  

function initiate_geolocation() {  
  navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
}  

function handle_geolocation_query(position) {  
  alert('Lat: ' + position.coords.latitude + ' ' +  
        'Lon: ' + position.coords.latitude);  
}  
  
</script>